<div class="marquee" aria-hidden="true">
    <div class="marquee__track">
        {% for i in "12" %}
        <span>Маникюр</span><span class="marquee__dot">✦</span>
        <span>Педикюр</span><span class="marquee__dot">✦</span>
        <span>Дизайн ногтей</span><span class="marquee__dot">✦</span>
        <span>Наращивание</span><span class="marquee__dot">✦</span>
        <span>Гель-лак</span><span class="marquee__dot">✦</span>
        <span>Уход</span><span class="marquee__dot">✦</span>
        {% endfor %}
    </div>
</div>
